# libcrafter disposable MQTT probe broker.
# This file is rendered onto a lab target endpoint by provision-broker.sh.

listener {{MQTT_PORT}} {{MQTT_BIND_IPV4}}
protocol mqtt
allow_anonymous true
persistence false

connection_messages true
log_dest syslog
